In [1]:
import pandas as pd
import psycopg2
import csv
import re

# Geocoding using psycopg2

In [2]:
df = pd.read_csv("ticketSearchResults-2015-02-09-20_48_16.txt", sep="~")
df

,Ticket,Call Dt/Tm,Header,County,City,Excav Company,Address,Street,Inter1,Inter2
0,100600001,2010-03-01 02:51:21-05,EMERGENCY,BERGEN,ROCKLEIGH,ORANGE AND ROCKLAND UTILITIES,9,PIERMONT,HARING FARM,ROCKLEIGH
1,100600002,2010-03-01 03:00:33-05,EMERGENCY,BERGEN,ALPINE,ORANGE AND ROCKLAND UTILITIES,441,US HWY 9W,ORBACH,NaN
2,100600003,2010-03-01 04:05:36-05,EMERGENCY,MONMOUTH,HAZLET,VERIZON,NaN,LAUREL,HELFRICH,NaN
3,100600004,2010-03-01 05:15:23-05,EMERGENCY,ESSEX,FAIRFIELD,PSE&G,11,MADISON,PLYMOUTH,NaN
4,100600005,2010-03-01 05:21:24-05,EMERGENCY,PASSAIC,HALEDON,MONTANA CONSTRUCTION,89,LEE,LEGION,HENRY
...,...,...,...,...,...,...,...,...,...,...
46898,100902145,2010-03-31 23:21:10-04,ROUTINE,GLOUCESTER,WASHINGTON,STEPHENS EXTERMINATING,1701,HAWTHORNE,ARBOUR,NaN
46899,100902146,2010-03-31 23:26:30-04,ROUTINE,GLOUCESTER,WASHINGTON,STEPHENS EXTERMINATING,401,BRIARWOOD,ARBOUR,NaN
46900,100902147,2010-03-31 23:29:39-04,ROUTINE,MIDDLESEX,PLAINSBORO,TELECABLE,101,MORGAN,ENTERPRISE,NaN
46901,100902148,2010-03-31 23:37:03-04,ROUTINE,MONMOUTH,SHREWSBURY BORO,TELECABLE,149,AVENUE OF THE CMN,BROAD,NaN
46902,100902149,2010-03-31 23:43:21-04,ROUTINE,MONMOUTH,SHREWSBURY BORO,TELECABLE,167,AVENUE OF THE CMN,BROAD,NaN

In [11]:
output_header = ["Ticket",
                 "Date",
                 "Time",
                 "Header",
                 "County",
                 "Rating",
                 "Longitude",
                 "Latitude",
                 "St_number",
                 "St_name",
                 "Neighborhood",
                 "City",
                 "State",
                 "Zip",
                 "Excav_company",
                 "Inter1",
                 "Inter2"]

In [12]:
try:
    conn = psycopg2.connect("dbname='geocoder' user='postgres' host='localhost' password='postgres'")
except:
    print("I am unable to connect to the database")

cur = conn.cursor()

In [60]:
try:
    conn = psycopg2.connect("dbname='geocoder' user='postgres' host='localhost' password='postgres'")
except:
    print("I am unable to connect to the database")

cur = conn.cursor()

f_in = open("ticketSearchResults-2015-02-09-20_48_16.txt", 'r')
f_out = open("test.csv", 'w')

i = 1
n = 0
for line in f_in.readlines():
    if not re.search(r'Ticket', line):
        
        address = (rec[6], # street number
                   rec[7].replace("'", "''"), # street name
                   rec[4]) # city name
        
        expression = """SELECT g.rating, ST_X(g.geomout), ST_Y(g.geomout), (addy).address, (addy).streetname, (addy).location, (addy).stateabbrev, (addy).zip FROM geocode('%s %s, %s, NJ', 1) AS g;""" % address
        
        cur.execute(expression)
        
        try:
        
            rec = line.split('~')
            f_out.write("%s,%s,%s,%s,%s," % (
                rec[0], # ticket
                rec[1].split(' ')[0], # date
                rec[1].split(' ')[1], # time
                rec[2], # header
                rec[3]  # county
            ))
        
            rows = [str(x) for x in cur.fetchall()[0]]
                
            f_out.write("%s,%s,%s,%s,%s,%s,%s,%s," % (
                rows[0], # rating int
                rows[1], # longitude float.13
                rows[2], # latitude float.13
                rows[3], # street number int
                rows[4], # street name string
                rows[5], # neighborhood string
                rows[6], # state
                rows[7]  # zip
            ))
        
            f_out.write("%s,%s,%s\n" % (
                rec[5], # excav_comp
                rec[8], # inter1
                rec[9].strip(), # inter2
            ))
        
            print("job %d is complete!" % i)
            
        except:
            
            n += 1
            print("Total %d bad input line encountered!" % n)
        
        i += 1
        if i == 50:
            break
            
f_in.close()
f_out.close()
conn.close()

Total 1 bad input line encountered!
job 2 is complete!
job 3 is complete!
job 4 is complete!
job 5 is complete!
job 6 is complete!
job 7 is complete!
job 8 is complete!
job 9 is complete!
job 10 is complete!
job 11 is complete!
job 12 is complete!
job 13 is complete!
job 14 is complete!
job 15 is complete!
job 16 is complete!
job 17 is complete!
job 18 is complete!
job 19 is complete!
Total 2 bad input line encountered!
job 21 is complete!
job 22 is complete!
Total 3 bad input line encountered!
job 24 is complete!
job 25 is complete!
job 26 is complete!
job 27 is complete!
job 28 is complete!
job 29 is complete!
job 30 is complete!
job 31 is complete!
job 32 is complete!
job 33 is complete!
job 34 is complete!
job 35 is complete!
job 36 is complete!
job 37 is complete!
job 38 is complete!
job 39 is complete!
job 40 is complete!
job 41 is complete!
Total 4 bad input line encountered!
job 43 is complete!
Total 5 bad input line encountered!
job 45 is complete!
job 46 is complete!
job 47 is complete!
job 48 is complete!
job 49 is complete!

# Create Postgres Queries

In [ ]:
df = pd.read_csv("ticketSearchResults-2015-02-09-20_48_16.txt", sep="~")
df = df.fillna("NULL")
df

In [ ]:
file = open('test.sql', 'w')
for i in df.index:
    file.write("INSERT INTO geocd_nj (ticket, dt, tm, hder, county, excav_comp, inter1, inter2) VALUES(%d, '%s', '%s', '%s', '%s', '%s', '%s', '%s');\n"
         % (df.loc[i, 'Ticket'],
            df.loc[i, 'Call Dt/Tm'].split(' ')[0],
            df.loc[i, 'Call Dt/Tm'].split(' ')[1],
            df.loc[i, 'Header'],
            df.loc[i, 'County'],
            df.loc[i, 'Excav Company'].replace("'", "''"),
            df.loc[i, 'Inter1'].replace("'", "''"),
            df.loc[i, 'Inter2'].replace("'", "''")))
    file.write("UPDATE geocd_nj SET rating = g.rating, lon = ST_X(g.geomout),lat = ST_Y(g.geomout), st_no = (addy).address,st_nm = (addy).streetname, city = (addy).location,state_nm = (addy).stateabbrev,zip = (addy).zip FROM geocode('%s %s, %s, NJ', 1) As g WHERE ticket = %d;\n"
         % (df.loc[i, 'Address'],
            df.loc[i, 'Street'].replace("'", "''"),
            df.loc[i, 'City'],
            df.loc[i, 'Ticket']))
file.close()